*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;

    a {
        text-decoration: none;
    }
}

//----------HEADER----------//
header {
    background-color: #040716;
    padding: 1.8em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #menu-toggle {
        border: none;
        outline: none;
        display: flex;
        flex-direction: column;
        gap: 0.7em;
        background: none;

        &:hover {
            cursor: pointer;
        }

        span {
            display: block;
            height: 2px;
            background-color: #e29c5a;
            width: 1.5em;
            transition: 0.2s;
        }
    }

    #menu-toggle.is-active :nth-child(1) {
        transform: translateY(250%);
    }

    #menu-toggle.is-active :nth-child(2) {
        transform: translateY(-250%);
    }

}

//----------HEADER END----------//

//----------MOBILE NAV PAGE-----------//
#mobile-nav-page {
    background-color: #040716;
    padding: 1em 2em;
    min-height: 100vh;

    nav {

        ul {
            display: flex;
            flex-direction: column;
            gap: 2em;

            li {

                a {
                    color: #686a73;
                    font-size: 1.5rem;

                    i {
                        font-size: 15px;
                    }

                    i.active {
                        rotate: 90deg;
                    }
                }

                .wrapper {
                    display: grid;
                    grid-template-rows: 0fr;
                    transition: grid-template-rows 0.4s ease-out;

                    .inner,
                    .inner-two {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        overflow: hidden;
                        transition: 0.3s;

                        .card {
                            background-color: #1d1f2d;
                            padding: 1em 2em;
                            border-radius: 1em;
                            margin-top: .5em;
                        }

                        h4 {
                            color: #fff;
                        }

                        p {
                            color: #fff;
                        }
                    }

                    .inner.is-open,
                    .inner-two.is-open,
                    .inner-three.is-open,
                    .inner-four.is-open {
                        overflow: visible;
                    }

                    #inner-two {

                        h3 {
                            color: #fff;
                        }
                    }
                }


                .wrapper-three {

                    .inner {
                        overflow: hidden;

                        .partner-card {
                            background-color: #1d1f2d;
                            padding: 1em 2em;
                            border-radius: 1em;
                            margin-top: .5em;
                        }
                    }
                }

                .wrapper-four {

                    #inner-four {


                        .tiles {
                            display: flex;
                            flex-direction: column;
                            gap: 3em;
                            margin-top: 2em;

                            //tiles cards
                            >* {
                                margin-top: .5em;
                                padding: 1em 2em;
                                transition: 0.3s;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: 1em;

                                figure {
                                    background-color: #1d1f2d;
                                    border-radius: 100%;
                                    width: 50px;
                                    height: 50px;
                                    display: flex;
                                    justify-content: center;

                                    img {
                                        padding: .7em;
                                    }
                                }
                            }

                            >*:hover {
                                background-color: #1d1f2d;
                                border-radius: 1em;
                                cursor: pointer;

                            }
                        }
                    }
                }
            }
        }
    }
}

//----------MOBILE NAV PAGE END-----------//