*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;

    a {
        text-decoration: none;
    }
}

//----------HEADER----------//
header {
    background-color: #040716;
    padding: 1.8em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #menu-toggle {
        border: none;
        outline: none;
        display: flex;
        flex-direction: column;
        gap: 0.7em;
        background: none;

        &:hover {
            cursor: pointer;
        }

        span {
            display: block;
            height: 2px;
            background-color: #e29c5a;
            width: 1.5em;
            transition: 0.2s;
        }
    }

    #menu-toggle.is-active :nth-child(1) {
        transform: translateY(250%);
    }

    #menu-toggle.is-active :nth-child(2) {
        transform: translateY(-250%);
    }

}

//----------HEADER END----------//

//----------MOBILE NAV PAGE-----------//
#mobile-nav-page {
    background-color: #040716;
    padding: 1em 2em;
    min-height: 100vh;

    nav {

        ul {
            display: flex;
            flex-direction: column;
            gap: 1.5em;

            li {

                a {
                    color: #686a73;
                    font-size: 1.5rem;

                    i {
                        font-size: 15px;
                    }
                }

                .wrapper {
                    margin-top: 1em;
                    margin-bottom: 1em;
                    display: grid;
                    grid-template-rows: 0fr;
                    transition: grid-template-rows 0.4s ease-out;

                    .inner {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        overflow: hidden;

                        .card {
                            background-color: #1d1f2d;
                            padding: 1em 2em;
                            border-radius: 1em;
                        }

                        h4 {
                            color: #fff;
                        }

                        p {
                            color: #fff;
                        }
                    }

                    .inner.is-open {
                        overflow: visible;
                    }
                }
            }
        }
    }
}

//----------MOBILE NAV PAGE END-----------//